main{
    padding: 0.5em;
    .somos{
        text-align: center;
    }
    .contenedor{
        margin-top: 2em;
        gap: 0.5rem;
        @include grid(4,1.5em);
        // padding: 1rem;
        // padding: 1rem;
        border-radius: 0.5rem; 
        /* media query tablet */
        @include tablet{
            @include grid(2,1rem);
        }
        /* media query mobile */
        @include mobile{
            @include grid(1, 0.5em);
        }
        }
        
.contenedor{
height: auto;
width: auto;
            .card{
                border: solid 0.1px map-get($colores,"black");
                height: 100%;
                width: 100%;
                box-shadow: 0px 0px 8px 0px map-get($colores,"black");
                overflow: hidden;
                h3{
                    color: map-get($colores,"black");
                    text-align: center;
                    font-family: sans-serif;
                    font-size: 1.5em;
                    margin: 0;
                }
                    p{
                        font-family: sans-serif;
                        color: map-get($colores,"black");
                        text-align: center;
                        margin: 0;
                        font-size: 0.8em;
                    }
                    a{
                        display: inline-block;
                        padding: 10px;
                        margin: 10px;
                        color: blue;
                        border-radius: 4px;
                        border: 1px solid blue;
                        text-align: center;
                        text-decoration: none;
                        transition: all 400ms ease;
                        &:hover{
                            background-color: blue;
                            color: whitesmoke;
                            transition: all 1000ms ease;
                        }
                        
                    }
                    @include tablet{
                        h3{
                            font-size: 1.5em;
                        }
                        
                        p{
                            font-size: 0.8em;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                div{
                    background-color: rgb(255, 255, 255);
                    height: 100%;
                    width: 100%;
                    border-radius: 0.5rem;
                    border: 0;
                }
                 img{
                    width: 100%;
                    height: 100%;
                }
    }
}


