.contacto{
    text-align: center;
    align-items: center;
    margin-bottom: 5em;
    padding-top: 5em;
    margin-top: 0.2em;
    @include mobile{
        margin-top: 0.2em;
    }
}
#mapa{
    width: 80vw;
    @include mobile{
        width: 80vw;
    }
}
.contactoInfo{
    border-radius: 8px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    border: solid 1px black;
    margin: 1%;
    background-color: rgb(46, 49, 49);
}