.contacto{
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    margin-bottom: 5em;
    padding-top: 5em;
    margin-top: 5em;
    #mapa{
        padding-top: 5em;
        height: 40vh;
        width: 80%;
    }
}
