.h2cabaña{
    font-size: 1.5rem;
    display: inline-block;
    vertical-align:top;
    margin-top: 2%;
margin-left: 1%;
}
.pCabaña{
    font-size: 100%;
margin-left: 19%;
}
.imagenCabaña{
    img{
margin: 2%;
width: 50%;
    }
}