.somos{
    display: flex;
    justify-content: center;
margin: 1.1em;
    border: solid 1px black;
    background-color:  rgb(67, 67, 67);
    border-radius: 10px;


    h1{
        color: aliceblue;
        text-align: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
}
.nosotros-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 50%;
        height: 50%;
        border-radius: 50%;
    }
    }
.nosotros-p{
    margin-top: 10%;
        padding: 5%;
        background-color: rgb(43,43,43);
        color: aliceblue;
        p{
        text-align: center;
        }
    }
