header{
        @include flex(flex,row, wrap,space-between,center);
        width: 100vw;
        border-bottom: solid 1.5px map-get($colores,"black");
        background-color: map-get($colores,"red");
        @include mobile{
        border: none
    }
    label{
        display: none;
        @include mobile{
            .menu-hamburguesa{
                width: 35px;
            }
        display: block;
        margin-left: 15px;
        }
    }
    .menu{
        border-right: 1vw;
    }
    #btn_menu{
        display: none;
    }
    .logo-img{
        height: 50px;
        border-radius: 40%;
        margin: 0.8em;
    }
    #btn_menu:checked~.menu{
        visibility: visible;
    }
    nav {
        padding-right: 4%;
        @include mobile{
            row-gap: 20px;
            @include flex(flex,column,wrap,center,center)
        }
        a {
        // margin-right: 10px;
        font-size: 1.4vw;
        padding: 5px;
        @include mobile{
        font-size: 1.5rem;
        }
        }
    }
    .menu {
        @include mobile{
        z-index: 1;
        position: absolute;
        top: 60px;
        background-color: map-get($colores,"red");
        width: 100vw;
        visibility: hidden;
        }
    }
    a{
        color: map-get($colores,"black");
        text-decoration: none;
        &:hover{
        color: map-get($colores,"white");
        }
    }
    .logo{
        @include flex(flex,row,wrap,center,center);
        .texto-logo{
        font-size: 2vw;
        margin-bottom: 0px;
        margin-left: 10px;
        @include mobile{
        display: none;
        }
        }
        img{
            margin: 10px;
        }
    }
    .button{
        border: 0 !important;
    }
}