@mixin flex( $dir , $wrap , $just , $align ){
    display: flex;
    flex-flow: $dir $wrap;
    justify-content: $just;
    align-items: $just;
} 

// media queries

@mixin tablet(){
    @media screen and (max-width:1023px) {
       @content; 
    }
}
@mixin mobile(){
    @media screen and (max-width:767px) {
       @content; 
    }
}