// colores
$colores: (
    "red" :rgb(255, 29, 37),
    "grey":rgb(67, 67, 67),
    "black":rgb(12, 12, 12),
    "white":rgb(248, 245, 245),
);

// Flex
@mixin flex( $dis , $dir , $wrap,  $just , $align ){
    display: $dis;
    flex-flow: $dir $wrap;
    justify-content: $just;
    align-items: $align;
} 

// Grid
@mixin grid( $columnas , $espacio){
    display                 : grid;
    grid-template-columns   : repeat( $columnas , 1fr );
    gap                     : $espacio;
}

// // media queries
@mixin tablet(){
    @media screen and (max-width:1023px) {
       @content; 
    }
}
@mixin mobile(){
    @media screen and (max-width:767px) {
       @content; 
    }
}
